// Theme variables (local fallbacks)
$blueish-white: #f8fbff;
$lightblue-type: #4a90e2;
$lightgrey-border: #e1e1e1;
$ocean: #0064ff;
$ocean-hover: #0052cc;

// Simple mixins used in this stylesheet
@mixin box-shadow($x, $y, $blur, $alpha) {
  box-shadow: $x $y $blur rgba(0,0,0, $alpha);
}

@mixin rounded-corners($r) {
  border-radius: $r;
}

@mixin rounded-corners-left($r) {
  border-top-left-radius: $r;
  border-bottom-left-radius: $r;
}

@mixin rounded-corners-right($r) {
  border-top-right-radius: $r;
  border-bottom-right-radius: $r;
}

.r6o-connections-editor {
  position:absolute;
  font-size:17px;
  line-height:27px;
  transform:translate(-50%, -50%);
  background-color:#fff;
  @include box-shadow(0, 1px, 14px, 0.4);
  @include rounded-corners(3px);

  svg {
    vertical-align:middle;
    shape-rendering: geometricPrecision;
  }

  * {
    box-sizing:border-box;
  }

  .r6o-connections-editor-input-wrapper {
    height:34px;
    padding:0 6px;
    margin-right:68px;
    font-size:14px;
    background-color:$blueish-white;
    cursor:text;
    @include rounded-corners-left(3px);
    
    .r6o-autocomplete ul {
      position:relative;
      left:-6px;
    }

    .r6o-autocomplete > div {
      height:100%;
    }

  }

  .r6o-connections-editor-buttons {
    position:absolute;
    display:inline-flex;
    top:0;
    right:0;

    span {
      height:34px;
      display:inline-block;
      width:34px;
      text-align:center;
      font-size:14px;
      cursor:pointer;
      padding:1px 0;
    }

    .delete {
      background-color:#fff;
      color:$lightblue-type;
      border-left:1px solid $lightgrey-border;
    }

    .delete:hover {
      background-color:#f6f6f6;
    }

    .ok {
      background-color:$ocean;
      color:#fff;
      @include rounded-corners-right(3px);
    }

    .ok:hover {
      background-color:$ocean-hover;
    }

  }
  
}